@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Estas Utilizanod Web App de Azure</a>.</p>
</div>
